
<%= link_to "Profile", current_user, class: "navlink"%>

<span class="navlink"> | </span> 

<%= link_to "Tasks", '#', class: "navlink"%>

<span class="navlink"> | </span>

<%= link_to "Notes", '/notes', class: "navlink"%>

<span class="navlink"> | </span>

<%= link_to "Employees", users_path, class: "navlink" %>





