/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {background-image: url('http://iolabsinc.com/img_src/diagonal.gif');}
div {font-family: 'Raleway', sans-serif; }

a{text-decoration: none; color: black}
.logo{ 	
		margin-left: 4%;
		margin-top: 0.5%}

nav {
	background-color: rgba(194, 214, 255, 0.5);
	margin-top: 1.5em;
	padding:1em;
	margin-bottom: 1%;
}
.navlink {float: left; 
	text-decoration: none; 
	color:black;
	font-family: 'Raleway', sans-serif; 
	position: relative;
	bottom:0.5em;
	margin-left: 1%
	}


.navlink:hover {

transition: color 0.5s, ;
-moz-transition: color 0.5s; /* Firefox 4 */
-webkit-transition: color 0.5s; /* Safari and Chrome */
-o-transition: color 0.5s; /* Opera */
color: rgb(90, 90, 200);

}

.menuitem{
	float: right;
	text-decoration: none; 
	color:black;
	font-family: 'Raleway', sans-serif; 
	position: relative;
	bottom: 0.5em;
	
	margin-right:1%;
}

.menuitem:hover {

transition: color 0.5s, ;
-moz-transition: color 0.5s; /* Firefox 4 */
-webkit-transition: color 0.5s; /* Safari and Chrome */
-o-transition: color 0.5s; /* Opera */
color:blue;

}

/* Users Views styling */

	/* new.html.erb  #ECF6FF*/
section {
	float: left;
	border-radius: 1em;
	margin-left: 20%;
	margin-top: 10%;
	background-color: #C2D6FF;
	padding:1em;
	padding-top: 0.4em
	
}
.newsection{
	margin-top: 5%
}

h1 {font-family: 'Raleway', sans-serif; 
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 0.25em;


}

.formfield input {
	margin-top: 0.5em;
	border-radius: 0.3em; 
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif; 
	font-weight: 600;


	}

.label {
	font-family: 'Raleway', sans-serif; 
	font-weight: 400;
	margin-top: 1em;



}
.file{
	margin-top: 0.6em
}

.submit{
	margin-top: 1.5em;
	padding: 0.5em;
	font-size: 1em;
	border-radius: 0.5em;
	background-color: white;
	font-family: 'Raleway', sans-serif; 
	border: 0.1em solid black
}

/* show styles */

#showavatar {
	margin-left: 5%;
	margin-top:5%;
	margin-bottom: 3%
}



p{
	font-family: 'Raleway', sans-serif;

	font-weight: bold;
	font-size: 1em;

	padding: 0.2em;

	border-radius: 0.5em;

	clear:both;

	margin-left: 6%;

	}




/* index styles */

.employee {
	margin: 0;
	margin-left: 35%;
	margin-bottom: 1%;
	clear: both;
	width: 17em;
}

.indexemail {font-family: 'Raleway', sans-serif; margin-top: 3%}

.indexname{margin-bottom: 3%

}
.indextitle {margin-left: 5%; margin-top: 5%}



/*session#new styles*/

.newemployee{
	float: right;
	
	
	font-family: 'Raleway', sans-serif;


}


/* note styling*/
.notesform {
	float: left;
	margin-left: 3%;
	margin-top:  4%;
	padding:2em;
}
.text_area {rows:1;
	border-radius: 0.5em;
		padding:0.9em;

}

.note {
	border-radius: 1em;
	width:30em;
	float :left;


	
	margin:0;
	
	margin-left:40%;
	margin-bottom: 2%;

	padding:1.5em;
	padding-top: 0.7em;
	padding-left:0.8em;

	
	
}
.content {
	clear:both;
	margin:0;
	margin-top: 5%;
	width: 90%;

	height: 100%;
	margin-right: 5%;
	padding: 1em;

	vertical-align: top;
	background-color: white;
	border-radius:1em



}

.notefeedname {
	font-size: 1em;
	float:left;
	margin-left: 3%;
	position: relative;
	top: 1.3em;

}

.noteav {
	float: left;
	border-radius: 1em;
	margin-bottom: 3%;
}

.feedcontainer {
	background-color: white;
	padding: 2em;
	clear:both;
}
.timeposted {
	margin-top: 4%;
	margin-left: 1%;
	font-size: 0.8em;

}







