<% if signed_in? %>
	<div class="menuitem"><%=link_to 'Signout', '/signout', method: "delete"%></div>
	<div class="menuitem"> | </div>
	<div class="menuitem">Account</div>
	
	



<% else %>
	<%=link_to "Sign in", sign_in_path%>
<% end %>